<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/.css">
    <title>Словарь английского языка</title>
</head>
<body>
    <p><a href="admin.php">Вход</a></p>
    <div>
        <table class="table">
           <tr><th>Английское слово</th><th>Перевод</th><th>Транскрипция</th></tr>
            <?php foreach($data as $elem): ?>
           <tr>
               <td><?=htmlspecialchars($elem['eng']); ?></td>
               <td><?=htmlspecialchars($elem['rus']); ?></td>
               <td><?=htmlspecialchars($elem['trans']); ?></td>
           </tr>
            <?php endforeach; ?>
        </table>
    </div>
</body>
</html>